
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$curso-soflex-primary: mat-palette($mat-indigo);
$curso-soflex-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$curso-soflex-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$curso-soflex-theme: mat-light-theme((
  color: (
    primary: $curso-soflex-primary,
    accent: $curso-soflex-accent,
    warn: $curso-soflex-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($curso-soflex-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

ul {
    list-style: none;
    padding-left: 0;
}

div.mat-elevation-z8{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
    /*table-layout: fixed;*/
}

.formContainer{
    width: 75%;
    margin: auto;
    text-align: center;
}

.mat-toolbar-row{ 
    justify-content: space-between; 
    background-color: white;
}

.formRow{
    text-align: left;
    display: inline-block;
    margin: 1em;
}

.saveButton{
    /*En caso de modificar el color verde, modificarlo tambien en el edit*/
    background-color: rgb(66, 141, 240);
    color: white;
    margin: 10px;
    margin-right: 20px !important;
}

.backButton{
    background-color: rgb(224, 165, 54);
    color:white;
    margin: 10px;
}

.cancelButton{
    background-color: rgb(241, 70, 70);
    color:white;
    margin: 10px;
}

.editButton{
    color:rgb(115, 117, 115);
}

.deleteButton{
    color:rgb(241, 70, 70);
}

.subTabla{
    margin-top: 30px;
    margin-bottom: 20px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
