<div class="col-md-3">
    <div class="card-container">
    <a class="card" routerLink="/cliente">        
        <span>Clientes</span>
    </a>    
    </div>

    <div class="card-container">
    <a class="card" routerLink="/producto">
            <span>Productos</span>
        </a>
    </div>

    <div class="card-container">
    <a class="card" routerLink="/pedido">
        <span>Pedidos</span>
        </a>
    </div>
</div>
 
<div class="col-md-9">
  <router-outlet></router-outlet>
</div>
  