
<div class="col-md-3">
   
    <div class="card-container">
        <a class="homer" routerLink="/home">        
            <span class="material-icons">home</span> 
        </a>
        <a class="card" routerLink="/cliente">        
            <span>Clientes</span>
        </a> 
        <a class="card" routerLink="/producto">
            <span>Productos</span>
        </a> 
        <a class="card" routerLink="/pedido">
            <span>Pedidos</span>
        </a>
    </div>
    <br><br><br>
<div class="col-md-9">
  <router-outlet></router-outlet>
</div>
  