<h2 class="subrayado-margen">Administrador de Pedidos</h2>

<div class="cards"> 

    <div class="col-lg-2 content-tabla">
        <mat-card>            
            <mat-card-content>
                <button mat-raised-button>
                    Clientes
                </button><br><br>
                <button mat-raised-button>
                    Productos
                </button><br><br>
                <button mat-raised-button>
                    Pedidos   
                </button><br><br>
                <button mat-raised-button>
                    Detalle de Pedidos   
                </button>            
            </mat-card-content>
        </mat-card>
    </div>

</div>